.intro-container{
    height: 100vh;
}
.i-wrap{
    display: flex;
}
.left {
    flex: 1 1;
    height: 100vh;
    /* display: flex; */
    align-items: center;
    justify-content: center;
}
.right{
    flex: 1;
    margin: 10%;
}

.shapec {
    width: 100%;
    height: 100%;
    position: relative;
    flex: 1;
    left: 30%;
}

.lshape {
    flex: 1 1;
    background: blue;
    -webkit-clip-path: polygon(0% 0%,0% 100%,100% 100%);
    clip-path: polygon(0% 0%,0% 100%,100% 100%);
    width: 50%;
    height: 50%;
    animation: rotation 5s 5;
    position: relative;
    top: 20%;
}

@keyframes rotation {
    50%{ transform: rotate(360deg);};
}
@keyframes rotationx {
    50%{ transform: rotatex(180deg);};
}
@keyframes rotationy {
    50%{ transform: rotatey(180deg);};
}
.rshape {
    flex: 1 1;
    background: rgb(61, 189, 44);
    -webkit-clip-path: polygon(0% 100%,100% 0%,100% 100%);
    clip-path: polygon(0% 100%,100% 0%,100% 100%);
    width: 50%;
    height: 50%;
    position: relative;
    top: -80%;
    animation: rotationx 5s 5;
}
.mshape {
    flex: 1 1;
    background: rgb(192, 26, 49);
    -webkit-clip-path: polygon(0% 100%,100% 0%,100% 100%);
    clip-path: polygon(100% 0%,0% 0%,100% 100%);
    width: 50%;
    height: 50%;
    animation: rotationy 5s 5;
    position: relative;
    top: -30%;
    left: 0%;
}



.item{
    display: flex;
    flex-direction: column;
    height: 50px;
    overflow: hidden;
}

.item-wrap{
    color: rgb(54, 192, 54);
    display: flex;
    flex-direction: column;
    justify-self: center;
}

@keyframes myani {
    0%{ transform: translatey(-0);}
    25%{ transform: translatey(-50px);}
    50%{ transform: translatey(-100px);}
    75%{ transform: translatey(-150px);}
    100%{ transform: translatey(-200px);}
}

span.items{
    font-size:45px;
    animation: myani 10s infinite alternate;
}
span.hedi{
    font-size: 30px;
}
span.name{
    font-size: 50px;
    font-weight: bold;
}

@media only screen and (max-width: 480px) {
    .intro-container{
height: 70vh;    }
    .i-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    
    .left{
        display: none;
    }
    .right {
        flex: 1 1;
        margin: 10%;
        margin-top: 50%;
    }
    
  }